body {
    background-color: rgb(26, 1, 76);
    /* Use a system font, if none are available use an available sans-sarif */
    font-family: system-ui, sans-serif;
    margin: 0;
    color: rgb(83, 181, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
  
#board {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
    display: none;
}

#textBox {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
    display: none;
    border-color: azure;
    border-width: 10vh;
    position: relative;
}

#attacker {
    display: none;
}

#message {
    display: none;
}

.sqr {
    width: 30%;
    aspect-ratio: 1/1;
    border: 3px solid rgb(218, 198, 253);
    font-size: 64px;
    text-align: center;
}

.buttons {
    color: rgb(136, 136, 255);
    background-color: rgb(32, 51, 175);
}

#startButton {
    height: 10vh;
    width: 50vh;
    font-size: 40px;
}

#gameText {
    height: 10vh;
    width: 50vh;
    font-size: 24px;
}

#continueButton {
    position: absolute;
    right: 20px;
    bottom: -20px;
    height: 3vh;
}

.hp-bar {
    position: absolute;
    width: 200px;
    height: 20px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    display: none;
    text-align: center;
    color: rgb(255, 219, 254);
}

.hp-bar-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 20px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    color: rgb(255, 219, 254);
    z-index: 9;
}

.hp-bar-fill {
    height: 100%;
    background-color: rgb(56, 159, 238);
}


#playerHP {
    top: 20px;
    left: 20px;
}

#enemyHP {
    top: 20px;
    right: 20px;
}

#reset {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgb(56, 159, 238);
    color: rgb(255, 219, 254);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
  }